## History

In [15]:
import pandas as pd
datapath = "tuning/"
test_recommendations = pd.read_csv(datapath + "test_recommendations.csv")
train_recommendations = pd.read_csv(datapath + "train_recommendations.csv")
app_plots = pd.read_csv(datapath + "apps_fixed2.csv")
app_plots.columns, train_recommendations.columns, test_recommendations.columns

(Index(['authors', 'average_rating', 'app_id', 'books_count', 'description',
        'genres', 'year', 'original_title', 'pages', 'ratings_count', 'title',
        'authors_2', 'new_title'],
       dtype='object'),
 Index(['user_id', 'app_id', 'rating'], dtype='object'),
 Index(['user_id', 'app_id', 'rating'], dtype='object'))

In [16]:
app_plots.drop(columns=["title"], inplace=True)
app_plots.rename(columns={"description":"desc", "average_rating": "Rating", "new_title": "title"}, inplace=True)

In [ ]:
app_plots.rename(columns={"description":"desc", "average_rating": "Rating", "new_title": "title"}, inplace=True)

In [9]:
app_plots

,authors,Rating,app_id,books_count,desc,genres,year,original_title,pages,ratings_count,authors_2,title
0,['Suzanne Collins'],4.34,1,272,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,"['young-adult', 'fiction', 'fantasy', 'science...",2008.0,The Hunger Games,374.0,4780653,['Suzanne Collins'],The Hunger Games
1,"['J.K. Rowling', 'Mary GrandPré']",4.44,2,491,Harry Potter's life is miserable. His parents ...,"['fantasy', 'fiction', 'young-adult', 'classics']",1997.0,Harry Potter and the Philosopher's Stone,309.0,4602479,"['J.K. Rowling', 'Mary GrandPré']",Harry Potter and the Philosopher's Stone
2,['Stephenie Meyer'],3.57,3,226,About three things I was absolutely positive.\...,"['young-adult', 'fantasy', 'romance', 'fiction...",2005.0,Twilight,501.0,3866839,['Stephenie Meyer'],"Twilight (Twilight, #1)"
3,['Harper Lee'],4.25,4,487,The unforgettable novel of a childhood in a sl...,"['classics', 'fiction', 'historical-fiction', ...",1960.0,To Kill a Mockingbird,324.0,3198671,['Harper Lee'],To Kill a Mockingbird
4,['F. Scott Fitzgerald'],3.89,5,1356,Alternate Cover Edition ISBN: 0743273567 (ISBN...,"['classics', 'fiction', 'historical-fiction', ...",1925.0,The Great Gatsby,200.0,2683664,['F. Scott Fitzgerald'],The Great Gatsby
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,['[Jeffery Deaver]'],3.98,9981,58,"A high-school girl in Harlem, Geneva Settle, i...","['mystery', 'thriller', 'fiction', 'crime', 's...",2005.0,The Twelfth Card,816.0,10188,['[Jeffery Deaver]'],The Twelfth Card
9996,['[Karen Marie Moning]'],4.18,9982,1,In Karen Marie Moning’s latest installment of ...,"['fantasy', 'paranormal', 'romance', 'fiction'...",2016.0,Feverborn,436.0,11570,['[Karen Marie Moning]'],Feverborn
9997,"['[Steve Perry', 'Tom Clancy', 'Steve Pieczeni...",3.69,9985,24,"In the year 2000, computers are the new superp...","['fiction', 'thriller', 'books', 'mystery', 's...",2000.0,Tom Clancy's Net Force: Breaking Point,368.0,7693,"['[Steve Perry', 'Tom Clancy', 'Steve Pieczeni...",Tom Clancy's Net Force: Breaking Point
9998,['[Iris Johansen]'],4.12,9987,29,A CIA agent's two-year-old child was stolen in...,"['mystery', 'fiction', 'thriller', 'suspense',...",2010.0,Chasing The Night,362.0,10129,['[Iris Johansen]'],Chasing The Night
9999,['[John Keegan]'],4.00,10000,31,The First World War created the modern world. ...,"['history', 'nonfiction', 'historical-fiction']",1998.0,The First World War,475.0,9162,['[John Keegan]'],The First World War

In [2]:
df = pd.read_csv("tuning/test_recommendations.csv")

# 2. Calcola la popolarità normalizzata
# .value_counts(normalize=True) calcola automaticamente il rapporto (frequenza relativa)
popularity_normalized = df['app_id'].value_counts().reset_index()
popularity_normalized.columns = ['app_id', 'popularity']

# 3. Unisci la colonna di popolarità al DataFrame originale
# Viene unito in base alla colonna 'app_id'
df_with_popularity = pd.merge(df, popularity_normalized, on='app_id', how='left')

# Stampa il risultato per verifica, arrotondando la popolarità a 4 decimali per chiarezza
df_with_popularity['popularity'] = df_with_popularity['popularity'].round(4)
print(df_with_popularity)

       user_id  app_id  rating  popularity
0        17978    3465       5           3
1        22593    1198       5           1
2        43809      92       4           9
3          476    4527       5           1
4        39161    3552       3           2
...        ...     ...     ...         ...
12131    49564     392       4           2
12132    52356    1221       4           3
12133    44740    7782       3           1
12134    45422     143       4          17
12135     2749    1279       5           3

[12136 rows x 4 columns]

In [3]:
# stampa la popolarità media
average_popularity = df_with_popularity['popularity'].mean()
print(f"Popolarità media: {1/average_popularity}")

Popolarità media: 0.13094518774277084

In [23]:
df_with_popularity.to_csv("tuning/test_recommendations_with_popularity.csv", index=False)

In [17]:
merged_train_df = pd.merge(train_recommendations, app_plots, on='app_id', how='inner')

# --- 3. Seleziona e Rinomina le Colonne Necessarie ---
# Selezioniamo solo le colonne che ci servono per il file finale.
# Rinominiamo 'genres' in 'genre' e 'rating' per corrispondere alla tua richiesta.
# Nota: ho corretto il tuo "raiting" in "rating".
history_train_data = merged_train_df[[
    'user_id',
    'title',
    'desc',
    'genres', # Selezioniamo la colonna originale
    'Rating'
]]

print("Creazione delle storie degli utenti...")
user_histories_train_df = (
    history_train_data.groupby('user_id')[['title', 'desc', 'genres', 'Rating']]
                .apply(lambda x: x.to_dict('records'))
                .reset_index(name='history')
)
merged_test_df = pd.merge(test_recommendations, app_plots, on='app_id', how='inner')
history_test_data = merged_test_df[[
    'user_id',
    'title',
    'desc',
    'genres', # Selezioniamo la colonna originale
    'Rating'
]]
user_histories_test_df = (
    history_test_data.groupby('user_id')[['title', 'desc', 'genres', 'Rating']]
                .apply(lambda x: x.to_dict('records'))
                .reset_index(name='history')
)

output_filename = datapath + "histories_gemma_recommender_train.json"
print(f"Salvataggio del file JSON in '{output_filename}'...")
user_histories_train_df.to_json(output_filename, orient='records', indent=4, force_ascii=False)

output_filename = datapath + "histories_gemma_recommender_test.json"
print(f"Salvataggio del file JSON in '{output_filename}'...")
user_histories_test_df.to_json(output_filename, orient='records', indent=4, force_ascii=False)


print("✨ Fatto! File JSON creato con successo.")

Creazione delle storie degli utenti...
Salvataggio del file JSON in 'tuning/histories_gemma_recommender_train.json'...
Salvataggio del file JSON in 'tuning/histories_gemma_recommender_test.json'...
✨ Fatto! File JSON creato con successo.

In [24]:
merged_test_df = pd.merge(df_with_popularity, app_plots, on='app_id', how='inner')
merged_test_df

,user_id,app_id,Rating,Timestamp,popularity,title,tmdbId,imdbId,desc,genres
0,5950,2550,1,957180825,20,"Haunting, The (1963)",11772.0,57129.0,Dr. John Markway invites three distinct indivi...,Horror|Thriller
1,1513,2550,3,974749912,20,"Haunting, The (1963)",11772.0,57129.0,Dr. John Markway invites three distinct indivi...,Horror|Thriller
2,1941,2550,4,974850476,20,"Haunting, The (1963)",11772.0,57129.0,Dr. John Markway invites three distinct indivi...,Horror|Thriller
3,33,2550,4,978109889,20,"Haunting, The (1963)",11772.0,57129.0,Dr. John Markway invites three distinct indivi...,Horror|Thriller
4,1733,2550,4,977461820,20,"Haunting, The (1963)",11772.0,57129.0,Dr. John Markway invites three distinct indivi...,Horror|Thriller
...,...,...,...,...,...,...,...,...,...,...
108018,2167,1720,2,974612960,1,Time Tracers (1995),438108.0,128755.0,When the discovery of a five-thousand year old...,Action|Adventure|Sci-Fi
108019,5333,148,3,989050056,1,"Awfully Big Adventure, An (1995)",22279.0,112427.0,"Liverpool. 1947. Right after World War II, a s...",Drama
108020,2015,2585,1,974677124,1,"Lovers of the Arctic Circle, The (Los Amantes ...",1414.0,133363.0,Otto and Ana are kids when they meet each othe...,Drama|Romance
108021,1812,3540,4,975367635,1,Passion of Mind (1999),19214.0,160644.0,A psychological romantic thriller where fantas...,Romance|Thriller
108022,1504,1098,3,974748935,1,"Search for One-eye Jimmy, The (1996)",67365.0,117577.0,While working on a documentary on his old neig...,Comedy

In [25]:
merged_test_df = pd.merge(df_with_popularity, app_plots, on='app_id', how='inner')
history_test_data = merged_test_df[[
    'user_id',
    'title',
    'desc',
    'genres', # Selezioniamo la colonna originale
    'Rating',
    'popularity'  # Aggiunta della colonna di popolarità
]]
user_histories_test_df = (
    history_test_data.groupby('user_id')[['title', 'desc', 'genres', 'Rating', 'popularity']]
                .apply(lambda x: x.to_dict('records'))
                .reset_index(name='history')
)


output_filename = datapath + "histories_gemma_recommender_test_with_popularity.json"
print(f"Salvataggio del file JSON in '{output_filename}'...")
user_histories_test_df.to_json(output_filename, orient='records', indent=4, force_ascii=False)


print("✨ Fatto! File JSON creato con successo.")

Salvataggio del file JSON in 'tuning/histories_gemma_recommender_test_with_popularity.json'...
✨ Fatto! File JSON creato con successo.

## CANDIDATI

In [ ]:
import pandas as pd
datapath = "tuning/"
candidate_items = pd.read_csv(datapath + "candidate/candidate_items_10_hits.csv")
candidate_items

,user_id,app_id,authors,average_rating,books_count,plot,genres,year,new_title,pages,ratings_count,authors_2
0,167,178,['Sylvia Plath'],3.98,246,The Bell Jar chronicles the crack-up of Esther...,"['classics', 'fiction', 'psychology', 'poetry']",1963.0,The Bell Jar,294.0,401605,['Sylvia Plath']
1,8707,178,['Sylvia Plath'],3.98,246,The Bell Jar chronicles the crack-up of Esther...,"['classics', 'fiction', 'psychology', 'poetry']",1963.0,The Bell Jar,294.0,401605,['Sylvia Plath']
2,9661,178,['Sylvia Plath'],3.98,246,The Bell Jar chronicles the crack-up of Esther...,"['classics', 'fiction', 'psychology', 'poetry']",1963.0,The Bell Jar,294.0,401605,['Sylvia Plath']
3,12285,178,['Sylvia Plath'],3.98,246,The Bell Jar chronicles the crack-up of Esther...,"['classics', 'fiction', 'psychology', 'poetry']",1963.0,The Bell Jar,294.0,401605,['Sylvia Plath']
4,14950,178,['Sylvia Plath'],3.98,246,The Bell Jar chronicles the crack-up of Esther...,"['classics', 'fiction', 'psychology', 'poetry']",1963.0,The Bell Jar,294.0,401605,['Sylvia Plath']
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,51329,361,"['Charles Dickens', 'George Cruikshank', 'Phil...",3.85,1787,A gripping portrayal of London's dark criminal...,"['classics', 'fiction', 'historical-fiction']",1838.0,Oliver Twist,608.0,230181,"['Charles Dickens', 'George Cruikshank', 'Phil..."
9996,39400,280,['Lauren Oliver'],3.99,108,There is an alternate cover edition for this I...,"['young-adult', 'romance', 'science-fiction', ...",2011.0,Delirium,441.0,256975,['Lauren Oliver']
9997,28258,9718,['[Chris Cleave]'],3.48,25,When a massive suicide bomb explodes at a Lond...,"['fiction', 'contemporary', 'thriller']",2012.0,"Happier at Home: Kiss More, Jump More, Abandon...",239.0,6058,['[Chris Cleave]']
9998,27762,2243,['[A.J. Banner]'],3.33,14,From a phenomenal new voice in suspense fictio...,"['fiction', 'mystery', 'thriller', 'suspense',...",2015.0,NaN,NaN,37604,['[A.J. Banner]']
9999,45900,606,"['Richard Bach', 'Russell Munson']",3.80,278,This is a story for people who follow their he...,"['fiction', 'classics', 'philosophy', 'fantasy...",1970.0,Jonathan Livingston Seagull,112.0,133728,"['Richard Bach', 'Russell Munson']"

In [32]:
import pandas as pd
datapath = "tuning/"
candidate_items = pd.read_csv(datapath + "candidate_items_10_train_new.csv")
app_plots = pd.read_csv(datapath + "apps.csv")
app_plots.columns, candidate_items.columns
candidate_items.rename(columns={'item_id': 'app_id'}, inplace=True)
candidate_items = pd.merge(candidate_items, app_plots, on='app_id', how='inner')
candidate_items.to_csv(datapath + "candidate_items_10.csv", index=False)

In [16]:
candidate_items.rename(columns={'item_id': 'app_id'}, inplace=True)
candidate_items

       user_id  app_id
0          167      13
1          167     899
2          167     291
3          167      19
4          167      42
...        ...     ...
29995    53419     336
29996    53419     752
29997    53419     223
29998    53419     617
29999    53419     925

[30000 rows x 2 columns]

In [17]:
candidate_items = pd.merge(candidate_items, app_plots, on='app_id', how='inner')
candidate_items

,user_id,app_id,authors,average_rating,books_count,plot,genres,year,new_title,pages,ratings_count,authors_2
0,167,13,"['[George Orwell', 'Marcelo Pen', 'Erich Fromm...",4.14,995,"The year 1984 has come and gone, but George Or...","['classics', 'fiction', 'science-fiction', 'fa...",1949.0,Nineteen Eighty-Four,328.0,1956832,"['[George Orwell', 'Marcelo Pen', 'Erich Fromm..."
1,1055,13,"['[George Orwell', 'Marcelo Pen', 'Erich Fromm...",4.14,995,"The year 1984 has come and gone, but George Or...","['classics', 'fiction', 'science-fiction', 'fa...",1949.0,Nineteen Eighty-Four,328.0,1956832,"['[George Orwell', 'Marcelo Pen', 'Erich Fromm..."
2,1101,13,"['[George Orwell', 'Marcelo Pen', 'Erich Fromm...",4.14,995,"The year 1984 has come and gone, but George Or...","['classics', 'fiction', 'science-fiction', 'fa...",1949.0,Nineteen Eighty-Four,328.0,1956832,"['[George Orwell', 'Marcelo Pen', 'Erich Fromm..."
3,1661,13,"['[George Orwell', 'Marcelo Pen', 'Erich Fromm...",4.14,995,"The year 1984 has come and gone, but George Or...","['classics', 'fiction', 'science-fiction', 'fa...",1949.0,Nineteen Eighty-Four,328.0,1956832,"['[George Orwell', 'Marcelo Pen', 'Erich Fromm..."
4,2089,13,"['[George Orwell', 'Marcelo Pen', 'Erich Fromm...",4.14,995,"The year 1984 has come and gone, but George Or...","['classics', 'fiction', 'science-fiction', 'fa...",1949.0,Nineteen Eighty-Four,328.0,1956832,"['[George Orwell', 'Marcelo Pen', 'Erich Fromm..."
...,...,...,...,...,...,...,...,...,...,...,...,...
29995,53110,5220,['Anita Shreve'],3.65,53,In the textile-manufacturing region of New Ham...,"['fiction', 'historical-fiction', 'chick-lit',...",2002.0,Sea Glass,374.0,19585,['Anita Shreve']
29996,53110,5068,['Aldo Leopold'],4.24,74,"First published in 1949, A Sand County Almanac...","['nonfiction', 'science', 'philosophy', 'class...",1949.0,A Sand County Almanac,269.0,16792,['Aldo Leopold']
29997,53110,5395,['Margaret Atwood'],3.66,77,"Now that all the others have run out of air, i...","['fiction', 'historical-fiction', 'fantasy', '...",2005.0,The Penelopiad,198.0,21731,['Margaret Atwood']
29998,53308,8828,['[Andy Cohen]'],3.79,8,"The man behind the ""Real Housewives"" writes ab...","['memoir', 'nonfiction', 'biography']",2012.0,NaN,273.0,9789,['[Andy Cohen]']
29999,53419,1051,['Jim Fergus'],3.88,35,One Thousand White Women is the story of May D...,"['historical-fiction', 'fiction']",1998.0,One Thousand White Women: The Journals of May ...,434.0,84367,['Jim Fergus']

In [18]:
candidate_items.to_csv(datapath + "candidate_items_30.csv", index=False)

## fix candidati training

In [65]:
import pandas as pd
import numpy as np
datapath = "tuning/"
test_recommendations = pd.read_csv(datapath + "test_recommendations.csv")
test_recommendations.drop(columns=['rating'], inplace=True)
candidate_items = pd.read_csv(datapath + "candidate_items_70.csv")
app_plots = pd.read_csv(datapath + "apps.csv")
test_recommendations = test_recommendations.merge(app_plots, on="app_id", how="left")
def dcg_score(scores):
    return np.sum(np.divide(np.power(2, scores) - 1, np.log2(np.arange(len(scores), dtype=np.float64) + 2)))

def ndcg_at_10(ranked_relevance_scores, num_relevant_items):
    rank_dcg = dcg_score(ranked_relevance_scores)
    if rank_dcg == 0.0: return 0.0
    ideal_scores = np.ones(min(num_relevant_items, 10))
    ideal_dcg = dcg_score(ideal_scores)
    if ideal_dcg == 0.0: return 0.0
    return rank_dcg / ideal_dcg

test_recommendations.columns, candidate_items.columns

(Index(['user_id', 'app_id', 'authors', 'average_rating', 'books_count', 'plot',
        'genres', 'year', 'new_title', 'pages', 'ratings_count', 'authors_2'],
       dtype='object'),
 Index(['user_id', 'app_id', 'authors', 'average_rating', 'books_count', 'plot',
        'genres', 'year', 'new_title', 'pages', 'ratings_count', 'authors_2'],
       dtype='object'))

In [66]:
all_ndcgs = []
results = []
all_hits = []
for user_id in test_recommendations['user_id'].unique():
    rec = candidate_items[candidate_items['user_id'] == user_id]
    real_rec = test_recommendations[test_recommendations['user_id'] == user_id]
    relevance_scores = rec['app_id'].isin(real_rec['app_id']).astype(int).values
    num_relevant_items = real_rec.shape[0]
    ndcg = ndcg_at_10(relevance_scores, num_relevant_items)
    hits = relevance_scores.sum()
    print(f"User {user_id} - NDCG@10: {ndcg:.4f}")
    all_ndcgs.append(ndcg)
    all_hits.append(hits)
    results.append({
        "user_id": user_id,
        "ndcg_score": ndcg,
        "hits": hits
    })
    #controlla se in results c'è un utente con hits = 0
count=0
for res in results:
    if res['hits'] == 0:
        print(f"User {res['user_id']} has 0 hits")
        count+=1
print(f"Total users with 0 hits: {count}")
print(f"Average NDCG@10: {np.mean(all_ndcgs):.4f}")

User 17978 - NDCG@10: 0.1441
User 22593 - NDCG@10: 0.0000
User 43809 - NDCG@10: 0.0470
User 476 - NDCG@10: 0.0563
User 39161 - NDCG@10: 0.2313
User 35280 - NDCG@10: 0.0000
User 5267 - NDCG@10: 0.4506
User 49755 - NDCG@10: 0.5842
User 43294 - NDCG@10: 0.1290
User 5753 - NDCG@10: 0.3003
User 23863 - NDCG@10: 0.1361
User 33455 - NDCG@10: 0.1483
User 42785 - NDCG@10: 0.2222
User 7405 - NDCG@10: 0.3456
User 1055 - NDCG@10: 0.0365
User 13382 - NDCG@10: 0.5121
User 9659 - NDCG@10: 0.2411
User 8612 - NDCG@10: 0.0821
User 28804 - NDCG@10: 0.2634
User 51600 - NDCG@10: 0.3668
User 19547 - NDCG@10: 0.0926
User 33016 - NDCG@10: 0.1288
User 50977 - NDCG@10: 0.2581
User 41371 - NDCG@10: 0.3367
User 2815 - NDCG@10: 0.1742
User 1301 - NDCG@10: 0.2429
User 40206 - NDCG@10: 0.9483
User 36507 - NDCG@10: 0.2278
User 35537 - NDCG@10: 0.3847
User 36707 - NDCG@10: 0.2946
User 42407 - NDCG@10: 0.2632
User 30843 - NDCG@10: 0.0859
User 31235 - NDCG@10: 0.1361
User 47955 - NDCG@10: 0.1312
User 38362 - NDCG@10: 0.3668
User 6535 - NDCG@10: 0.0000
User 37196 - NDCG@10: 0.1447
User 28571 - NDCG@10: 0.2246
User 48326 - NDCG@10: 0.1089
User 13731 - NDCG@10: 0.1931
User 33296 - NDCG@10: 0.0989
User 20801 - NDCG@10: 0.3469
User 27352 - NDCG@10: 0.5504
User 34168 - NDCG@10: 0.1820
User 16859 - NDCG@10: 0.2286
User 39059 - NDCG@10: 0.0967
User 30780 - NDCG@10: 0.1036
User 44324 - NDCG@10: 0.1463
User 26748 - NDCG@10: 0.1377
User 25800 - NDCG@10: 0.1997
User 22957 - NDCG@10: 0.3025
User 48575 - NDCG@10: 0.2409
User 13204 - NDCG@10: 0.3149
User 35801 - NDCG@10: 0.1451
User 3029 - NDCG@10: 0.0948
User 50843 - NDCG@10: 0.0961
User 25855 - NDCG@10: 0.2693
User 26837 - NDCG@10: 0.2631
User 29036 - NDCG@10: 0.3757
User 1335 - NDCG@10: 0.0968
User 46037 - NDCG@10: 0.1421
User 20890 - NDCG@10: 0.2521
User 26550 - NDCG@10: 0.2769
User 17758 - NDCG@10: 0.3041
User 15100 - NDCG@10: 0.1483
User 8707 - NDCG@10: 0.0000
User 167 - NDCG@10: 0.0422
User 10057 - NDCG@10: 0.0000
User 27820 - NDCG@10: 0.0757
User 2749 - NDCG@10: 0.3257
User 51161 - NDCG@10: 0.1311
User 30053 - NDCG@10: 0.4219
User 12273 - NDCG@10: 0.1398
User 30697 - NDCG@10: 0.2716
User 33530 - NDCG@10: 0.0000
User 39026 - NDCG@10: 0.2491
User 18592 - NDCG@10: 0.0463
User 38228 - NDCG@10: 0.0780
User 28446 - NDCG@10: 0.2024
User 48151 - NDCG@10: 0.0871
User 41115 - NDCG@10: 0.3074
User 3487 - NDCG@10: 0.2227
User 24709 - NDCG@10: 0.1349
User 42703 - NDCG@10: 0.2437
User 37811 - NDCG@10: 0.2237
User 29776 - NDCG@10: 0.1743
User 6404 - NDCG@10: 0.0911
User 27083 - NDCG@10: 0.1110
User 10612 - NDCG@10: 0.1077
User 38988 - NDCG@10: 0.1933
User 27808 - NDCG@10: 0.2566
User 37999 - NDCG@10: 0.1844
User 31340 - NDCG@10: 0.1567
User 52741 - NDCG@10: 0.1493
User 21101 - NDCG@10: 0.3085
User 31212 - NDCG@10: 0.1888
User 50415 - NDCG@10: 0.1358
User 4798 - NDCG@10: 0.1215
User 13515 - NDCG@10: 0.3126
User 45945 - NDCG@10: 0.1561
User 4943 - NDCG@10: 0.2182
User 39411 - NDCG@10: 0.1576
User 29937 - NDCG@10: 0.3067
User 21495 - NDCG@10: 0.1203
User 47872 - NDCG@10: 0.1568
User 3371 - NDCG@10: 0.1615
User 34259 - NDCG@10: 0.1679
User 36402 - NDCG@10: 0.1144
User 6759 - NDCG@10: 0.0373
User 36126 - NDCG@10: 0.1432
User 45953 - NDCG@10: 0.1799
User 17086 - NDCG@10: 0.3706
User 27432 - NDCG@10: 0.2351
User 49404 - NDCG@10: 0.3464
User 17306 - NDCG@10: 0.1605
User 43900 - NDCG@10: 0.0000
User 52150 - NDCG@10: 0.1403
User 8616 - NDCG@10: 0.2363
User 17959 - NDCG@10: 0.0964
User 8032 - NDCG@10: 0.1012
User 10393 - NDCG@10: 0.1502
User 25137 - NDCG@10: 0.0930
User 45100 - NDCG@10: 0.0770
User 50048 - NDCG@10: 0.2091
User 11573 - NDCG@10: 0.0852
User 22843 - NDCG@10: 0.2944
User 6146 - NDCG@10: 0.0000
User 18833 - NDCG@10: 0.4631
User 21626 - NDCG@10: 0.2140
User 6804 - NDCG@10: 0.1312
User 13449 - NDCG@10: 0.4637
User 34479 - NDCG@10: 0.2307
User 48294 - NDCG@10: 0.0946
User 25017 - NDCG@10: 0.2845
User 5503 - NDCG@10: 0.0799
User 41110 - NDCG@10: 0.0538
User 11961 - NDCG@10: 0.1727
User 21332 - NDCG@10: 0.2042
User 4916 - NDCG@10: 0.3255
User 11838 - NDCG@10: 0.2093
User 682 - NDCG@10: 0.3820
User 38396 - NDCG@10: 0.0889
User 26333 - NDCG@10: 0.0652
User 30987 - NDCG@10: 0.1181
User 2436 - NDCG@10: 0.1105
User 5852 - NDCG@10: 0.1411
User 28848 - NDCG@10: 0.0377
User 35808 - NDCG@10: 0.0374
User 22846 - NDCG@10: 0.3597
User 45742 - NDCG@10: 0.3151
User 46604 - NDCG@10: 0.1925
User 48551 - NDCG@10: 0.1605
User 45579 - NDCG@10: 0.2294
User 38823 - NDCG@10: 0.2612
User 10828 - NDCG@10: 0.3850
User 43433 - NDCG@10: 0.6678
User 51201 - NDCG@10: 0.1394
User 32581 - NDCG@10: 0.0358
User 53110 - NDCG@10: 0.0856
User 26345 - NDCG@10: 0.2632
User 10763 - NDCG@10: 0.2096
User 1670 - NDCG@10: 0.1412
User 39460 - NDCG@10: 0.3269
User 33764 - NDCG@10: 0.4593
User 31167 - NDCG@10: 0.2063
User 11841 - NDCG@10: 0.3475
User 3036 - NDCG@10: 0.0000
User 45071 - NDCG@10: 0.6436
User 6209 - NDCG@10: 0.2926
User 14751 - NDCG@10: 0.2503
User 48416 - NDCG@10: 0.1229
User 24217 - NDCG@10: 0.5565
User 26437 - NDCG@10: 0.0903
User 39338 - NDCG@10: 0.0890
User 9331 - NDCG@10: 0.1231
User 20915 - NDCG@10: 0.3438
User 50704 - NDCG@10: 0.4219
User 45005 - NDCG@10: 0.2180
User 48440 - NDCG@10: 0.1532
User 45485 - NDCG@10: 0.2835
User 35335 - NDCG@10: 0.2885
User 10194 - NDCG@10: 0.2099
User 4688 - NDCG@10: 0.0000
User 13836 - NDCG@10: 0.2536
User 32338 - NDCG@10: 0.4608
User 6918 - NDCG@10: 0.2109
User 45805 - NDCG@10: 0.1855
User 36400 - NDCG@10: 0.1333
User 41305 - NDCG@10: 0.0817
User 1116 - NDCG@10: 0.1070
User 419 - NDCG@10: 0.1856
User 21735 - NDCG@10: 0.4237
User 43579 - NDCG@10: 0.0000
User 13927 - NDCG@10: 0.2210
User 9229 - NDCG@10: 0.1948
User 50587 - NDCG@10: 0.2281
User 36966 - NDCG@10: 0.1145
User 37801 - NDCG@10: 0.3381
User 5548 - NDCG@10: 0.1627
User 10179 - NDCG@10: 0.0949
User 37877 - NDCG@10: 0.0788
User 47524 - NDCG@10: 0.3602
User 36878 - NDCG@10: 0.1200
User 47329 - NDCG@10: 0.2434
User 37350 - NDCG@10: 0.2609
User 28722 - NDCG@10: 0.0999
User 41091 - NDCG@10: 0.1207
User 17543 - NDCG@10: 0.2151
User 23817 - NDCG@10: 0.0000
User 29336 - NDCG@10: 0.3086
User 11308 - NDCG@10: 0.6438
User 47942 - NDCG@10: 0.1218
User 39062 - NDCG@10: 0.0910
User 7412 - NDCG@10: 0.0485
User 38943 - NDCG@10: 0.3044
User 22797 - NDCG@10: 0.3178
User 38017 - NDCG@10: 0.4264
User 50393 - NDCG@10: 0.2262
User 37927 - NDCG@10: 0.1147
User 29952 - NDCG@10: 0.1198
User 21049 - NDCG@10: 0.0000
User 3496 - NDCG@10: 0.0422
User 27562 - NDCG@10: 0.0821
User 20139 - NDCG@10: 0.0738
User 22391 - NDCG@10: 0.0490
User 28936 - NDCG@10: 0.0907
User 7119 - NDCG@10: 0.0889
User 41621 - NDCG@10: 0.0365
User 47538 - NDCG@10: 0.2289
User 17157 - NDCG@10: 0.1025
User 27743 - NDCG@10: 0.0445
User 52379 - NDCG@10: 0.1609
User 47522 - NDCG@10: 0.3320
User 36578 - NDCG@10: 0.3258
User 41387 - NDCG@10: 0.0550
User 25265 - NDCG@10: 0.2555
User 16834 - NDCG@10: 0.1146
User 40905 - NDCG@10: 0.0411
User 48050 - NDCG@10: 0.2197
User 40743 - NDCG@10: 0.1808
User 31132 - NDCG@10: 0.3375
User 41877 - NDCG@10: 0.1809
User 29780 - NDCG@10: 0.2179
User 41084 - NDCG@10: 0.1253
User 8633 - NDCG@10: 0.2883
User 25806 - NDCG@10: 0.2011
User 40627 - NDCG@10: 0.2015
User 19533 - NDCG@10: 0.2820
User 8569 - NDCG@10: 0.3393
User 31752 - NDCG@10: 0.5488
User 3631 - NDCG@10: 0.0991
User 21693 - NDCG@10: 0.1952
User 23958 - NDCG@10: 0.1390
User 2627 - NDCG@10: 0.2886
User 3107 - NDCG@10: 0.1865
User 28218 - NDCG@10: 0.2546
User 52893 - NDCG@10: 0.1612
User 6386 - NDCG@10: 0.0453
User 41733 - NDCG@10: 0.5388
User 45878 - NDCG@10: 0.0445
User 28894 - NDCG@10: 0.2155
User 7012 - NDCG@10: 0.1024
User 32015 - NDCG@10: 0.1449
User 41508 - NDCG@10: 0.0416
User 9901 - NDCG@10: 0.3545
User 17289 - NDCG@10: 0.1461
User 24163 - NDCG@10: 0.0000
User 50510 - NDCG@10: 0.0394
User 27971 - NDCG@10: 0.1440
User 38441 - NDCG@10: 0.2032
User 53186 - NDCG@10: 0.2133
User 25501 - NDCG@10: 0.1949
User 26971 - NDCG@10: 0.0694
User 23071 - NDCG@10: 0.4270
User 45553 - NDCG@10: 0.1460
User 1461 - NDCG@10: 0.2236
User 12010 - NDCG@10: 0.0751
User 42502 - NDCG@10: 0.0401
User 48029 - NDCG@10: 0.2644
User 30281 - NDCG@10: 0.1195
User 44967 - NDCG@10: 0.0922
User 46239 - NDCG@10: 0.0000
User 52574 - NDCG@10: 0.0563
User 13678 - NDCG@10: 0.1555
User 19667 - NDCG@10: 0.1546
User 41381 - NDCG@10: 0.1698
User 18626 - NDCG@10: 0.2380
User 33647 - NDCG@10: 0.1519
User 3609 - NDCG@10: 0.1909
User 52356 - NDCG@10: 0.1740
User 33074 - NDCG@10: 0.2290
User 51045 - NDCG@10: 0.1356
User 51345 - NDCG@10: 0.3820
User 26024 - NDCG@10: 0.1160
User 39600 - NDCG@10: 0.5296
User 6114 - NDCG@10: 0.2917
User 52652 - NDCG@10: 0.3400
User 2053 - NDCG@10: 0.0944
User 12864 - NDCG@10: 0.2161
User 36386 - NDCG@10: 0.0900
User 25563 - NDCG@10: 0.0978
User 44493 - NDCG@10: 0.2471
User 6249 - NDCG@10: 0.0987
User 12285 - NDCG@10: 0.1939
User 15745 - NDCG@10: 0.4391
User 17138 - NDCG@10: 0.0422
User 13661 - NDCG@10: 0.1909
User 37713 - NDCG@10: 0.3610
User 34643 - NDCG@10: 0.2769
User 18543 - NDCG@10: 0.0000
User 26966 - NDCG@10: 0.1786
User 15099 - NDCG@10: 0.0805
User 9380 - NDCG@10: 0.3099
User 51205 - NDCG@10: 0.2852
User 25036 - NDCG@10: 0.3497
User 23675 - NDCG@10: 0.0000
User 6137 - NDCG@10: 0.3944
User 3368 - NDCG@10: 0.1254
User 9536 - NDCG@10: 0.0000
User 32366 - NDCG@10: 0.0403
User 381 - NDCG@10: 0.1226
User 17936 - NDCG@10: 0.3266
User 27904 - NDCG@10: 0.3419
User 43788 - NDCG@10: 0.1409
User 16993 - NDCG@10: 0.0426
User 10423 - NDCG@10: 0.3149
User 37065 - NDCG@10: 0.1621
User 13363 - NDCG@10: 0.2747
User 25671 - NDCG@10: 0.0835
User 2142 - NDCG@10: 0.0974
User 14826 - NDCG@10: 0.0000
User 53419 - NDCG@10: 0.0416
User 35379 - NDCG@10: 0.0918
User 28319 - NDCG@10: 0.2021
User 33384 - NDCG@10: 0.2173
User 29449 - NDCG@10: 0.1178
User 1937 - NDCG@10: 0.1588
User 46969 - NDCG@10: 0.0475
User 43315 - NDCG@10: 0.4151
User 21235 - NDCG@10: 0.1324
User 7610 - NDCG@10: 0.1848
User 18392 - NDCG@10: 0.3369
User 27870 - NDCG@10: 0.1400
User 43842 - NDCG@10: 0.0000
User 50118 - NDCG@10: 0.2905
User 494 - NDCG@10: 0.1645
User 35696 - NDCG@10: 0.1803
User 33571 - NDCG@10: 0.3150
User 24506 - NDCG@10: 0.2715
User 42649 - NDCG@10: 0.4319
User 45033 - NDCG@10: 0.0789
User 630 - NDCG@10: 0.1894
User 18926 - NDCG@10: 0.1188
User 39687 - NDCG@10: 0.0839
User 49103 - NDCG@10: 0.1830
User 9564 - NDCG@10: 0.3367
User 38133 - NDCG@10: 0.3271
User 31790 - NDCG@10: 0.0909
User 12562 - NDCG@10: 0.5279
User 24519 - NDCG@10: 0.0815
User 4150 - NDCG@10: 0.2325
User 24070 - NDCG@10: 0.1316
User 18433 - NDCG@10: 0.1373
User 11563 - NDCG@10: 0.1736
User 46096 - NDCG@10: 0.1309
User 41189 - NDCG@10: 0.3672
User 20824 - NDCG@10: 0.1236
User 19496 - NDCG@10: 0.2584
User 47074 - NDCG@10: 0.1405
User 46988 - NDCG@10: 0.1795
User 10602 - NDCG@10: 0.3631
User 43624 - NDCG@10: 0.1137
User 41213 - NDCG@10: 0.4012
User 1661 - NDCG@10: 0.2659
User 30703 - NDCG@10: 0.2297
User 43374 - NDCG@10: 0.1136
User 5126 - NDCG@10: 0.1930
User 2162 - NDCG@10: 0.0951
User 35739 - NDCG@10: 0.0444
User 42986 - NDCG@10: 0.1323
User 23068 - NDCG@10: 0.0844
User 52396 - NDCG@10: 0.0381
User 34973 - NDCG@10: 0.2855
User 22738 - NDCG@10: 0.0398
User 5862 - NDCG@10: 0.3957
User 34377 - NDCG@10: 0.2134
User 23385 - NDCG@10: 0.2208
User 37665 - NDCG@10: 0.1270
User 6068 - NDCG@10: 0.2125
User 20025 - NDCG@10: 0.3976
User 23839 - NDCG@10: 0.0831
User 29016 - NDCG@10: 0.3026
User 23490 - NDCG@10: 0.3140
User 38605 - NDCG@10: 0.2480
User 19868 - NDCG@10: 0.4102
User 29931 - NDCG@10: 0.1302
User 24073 - NDCG@10: 0.1415
User 21590 - NDCG@10: 0.3109
User 16620 - NDCG@10: 0.2095
User 29017 - NDCG@10: 0.2601
User 9715 - NDCG@10: 0.0000
User 23041 - NDCG@10: 0.2252
User 4905 - NDCG@10: 0.1627
User 11166 - NDCG@10: 0.2837
User 3699 - NDCG@10: 0.1114
User 48389 - NDCG@10: 0.1513
User 25747 - NDCG@10: 0.0785
User 38586 - NDCG@10: 0.0000
User 50623 - NDCG@10: 0.0000
User 551 - NDCG@10: 0.1211
User 34519 - NDCG@10: 0.1830
User 28562 - NDCG@10: 0.1799
User 37169 - NDCG@10: 0.2829
User 22435 - NDCG@10: 0.0887
User 17813 - NDCG@10: 0.1250
User 31015 - NDCG@10: 0.3600
User 19576 - NDCG@10: 0.0000
User 29286 - NDCG@10: 0.0000
User 44212 - NDCG@10: 0.1842
User 2710 - NDCG@10: 0.2519
User 45740 - NDCG@10: 0.0839
User 18940 - NDCG@10: 0.0392
User 13137 - NDCG@10: 0.2263
User 21685 - NDCG@10: 0.2069
User 21148 - NDCG@10: 0.2429
User 49564 - NDCG@10: 0.4927
User 34635 - NDCG@10: 0.1370
User 19944 - NDCG@10: 0.3563
User 51740 - NDCG@10: 0.1187
User 8887 - NDCG@10: 0.4238
User 43581 - NDCG@10: 0.0388
User 7204 - NDCG@10: 0.1205
User 52743 - NDCG@10: 0.1606
User 12315 - NDCG@10: 0.2119
User 50318 - NDCG@10: 0.0000
User 22342 - NDCG@10: 0.1687
User 43640 - NDCG@10: 0.2561
User 4810 - NDCG@10: 0.0360
User 28992 - NDCG@10: 0.1181
User 3745 - NDCG@10: 0.2320
User 9623 - NDCG@10: 0.0804
User 4958 - NDCG@10: 0.2037
User 12356 - NDCG@10: 0.1342
User 6031 - NDCG@10: 0.0000
User 18860 - NDCG@10: 0.2628
User 42419 - NDCG@10: 0.2402
User 49170 - NDCG@10: 0.2498
User 5176 - NDCG@10: 0.2257
User 30090 - NDCG@10: 0.1659
User 9661 - NDCG@10: 0.3775
User 31317 - NDCG@10: 0.1491
User 14491 - NDCG@10: 0.1839
User 7843 - NDCG@10: 0.2769
User 8043 - NDCG@10: 0.0901
User 27439 - NDCG@10: 0.0756
User 1101 - NDCG@10: 0.0371
User 30950 - NDCG@10: 0.1451
User 11273 - NDCG@10: 0.1950
User 24469 - NDCG@10: 0.1903
User 46424 - NDCG@10: 0.1334
User 1936 - NDCG@10: 0.2023
User 36597 - NDCG@10: 0.1266
User 31125 - NDCG@10: 0.1012
User 2984 - NDCG@10: 0.0843
User 35602 - NDCG@10: 0.1677
User 39025 - NDCG@10: 0.0735
User 4384 - NDCG@10: 0.0000
User 18615 - NDCG@10: 0.2892
User 15867 - NDCG@10: 0.1779
User 24483 - NDCG@10: 0.4762
User 11964 - NDCG@10: 0.6867
User 51923 - NDCG@10: 0.3093
User 30366 - NDCG@10: 0.2981
User 42698 - NDCG@10: 0.5621
User 1699 - NDCG@10: 0.1371
User 22628 - NDCG@10: 0.3575
User 15166 - NDCG@10: 0.1656
User 12155 - NDCG@10: 0.4781
User 12092 - NDCG@10: 0.1580
User 45422 - NDCG@10: 0.0616
User 15293 - NDCG@10: 0.2181
User 25335 - NDCG@10: 0.2391
User 36972 - NDCG@10: 0.1430
User 42404 - NDCG@10: 0.3207
User 15657 - NDCG@10: 0.3017
User 46307 - NDCG@10: 0.3937
User 32095 - NDCG@10: 0.2431
User 21662 - NDCG@10: 0.3972
User 31442 - NDCG@10: 0.1969
User 3411 - NDCG@10: 0.2299
User 890 - NDCG@10: 0.0377
User 28108 - NDCG@10: 0.5346
User 44034 - NDCG@10: 0.1554
User 28665 - NDCG@10: 0.1213
User 31689 - NDCG@10: 0.2178
User 9904 - NDCG@10: 0.1165
User 48771 - NDCG@10: 0.2126
User 2646 - NDCG@10: 0.0381
User 13113 - NDCG@10: 0.2214
User 30058 - NDCG@10: 0.1823
User 38721 - NDCG@10: 0.1634
User 1994 - NDCG@10: 0.0422
User 51073 - NDCG@10: 0.1181
User 13306 - NDCG@10: 0.2676
User 12973 - NDCG@10: 0.2563
User 41885 - NDCG@10: 0.4308
User 26488 - NDCG@10: 0.0000
User 15619 - NDCG@10: 0.0436
User 16600 - NDCG@10: 0.3834
User 28100 - NDCG@10: 0.0000
User 10237 - NDCG@10: 0.0813
User 12533 - NDCG@10: 0.0392
User 39488 - NDCG@10: 0.3808
User 18923 - NDCG@10: 0.0608
User 52353 - NDCG@10: 0.2455
User 48018 - NDCG@10: 0.2230
User 26392 - NDCG@10: 0.1273
User 33404 - NDCG@10: 0.0825
User 50314 - NDCG@10: 0.0000
User 25725 - NDCG@10: 0.1375
User 5790 - NDCG@10: 0.1468
User 4530 - NDCG@10: 0.1241
User 12905 - NDCG@10: 0.0934
User 31801 - NDCG@10: 0.2931
User 26491 - NDCG@10: 0.2701
User 15120 - NDCG@10: 0.1284
User 51983 - NDCG@10: 0.3872
User 32614 - NDCG@10: 0.2511
User 46528 - NDCG@10: 0.1617
User 19578 - NDCG@10: 0.1475
User 4519 - NDCG@10: 0.0382
User 28075 - NDCG@10: 0.1233
User 21804 - NDCG@10: 0.2360
User 16740 - NDCG@10: 0.3720
User 48485 - NDCG@10: 0.2821
User 7791 - NDCG@10: 0.4005
User 16963 - NDCG@10: 0.1611
User 43021 - NDCG@10: 0.3575
User 48634 - NDCG@10: 0.3301
User 39504 - NDCG@10: 0.4195
User 38253 - NDCG@10: 0.3454
User 8152 - NDCG@10: 0.2251
User 31034 - NDCG@10: 0.1537
User 26061 - NDCG@10: 0.2187
User 16686 - NDCG@10: 0.1272
User 30550 - NDCG@10: 0.0600
User 10911 - NDCG@10: 0.3351
User 38366 - NDCG@10: 0.2478
User 37373 - NDCG@10: 0.1239
User 13108 - NDCG@10: 0.2370
User 15346 - NDCG@10: 0.1398
User 18865 - NDCG@10: 0.0411
User 23562 - NDCG@10: 0.3208
User 11750 - NDCG@10: 0.3470
User 10571 - NDCG@10: 0.0463
User 50311 - NDCG@10: 0.3180
User 15625 - NDCG@10: 0.3128
User 27761 - NDCG@10: 0.2187
User 49760 - NDCG@10: 0.1007
User 24054 - NDCG@10: 0.0000
User 7429 - NDCG@10: 0.1159
User 16372 - NDCG@10: 0.2584
User 38342 - NDCG@10: 0.0390
User 27977 - NDCG@10: 0.0964
User 19559 - NDCG@10: 0.0422
User 7135 - NDCG@10: 0.1568
User 43985 - NDCG@10: 0.2048
User 34662 - NDCG@10: 0.1540
User 7616 - NDCG@10: 0.0777
User 35235 - NDCG@10: 0.0392
User 22022 - NDCG@10: 0.3540
User 15516 - NDCG@10: 0.2538
User 41943 - NDCG@10: 0.1123
User 27177 - NDCG@10: 0.0839
User 30431 - NDCG@10: 0.0826
User 42094 - NDCG@10: 0.4225
User 49865 - NDCG@10: 0.3234
User 41700 - NDCG@10: 0.1668
User 14480 - NDCG@10: 0.3329
User 11947 - NDCG@10: 0.2669
User 34485 - NDCG@10: 0.0916
User 23866 - NDCG@10: 0.3954
User 45000 - NDCG@10: 0.1010
User 14950 - NDCG@10: 0.1818
User 13971 - NDCG@10: 0.2972
User 39201 - NDCG@10: 0.0750
User 49100 - NDCG@10: 0.0767
User 17602 - NDCG@10: 0.2370
User 36891 - NDCG@10: 0.0914
User 27984 - NDCG@10: 0.0401
User 40073 - NDCG@10: 0.1234
User 32312 - NDCG@10: 0.3047
User 10157 - NDCG@10: 0.0797
User 32821 - NDCG@10: 0.0663
User 4427 - NDCG@10: 0.3150
User 43622 - NDCG@10: 0.3483
User 37122 - NDCG@10: 0.1677
User 51773 - NDCG@10: 0.1658
User 36239 - NDCG@10: 0.2858
User 2921 - NDCG@10: 0.0774
User 52825 - NDCG@10: 0.0905
User 14998 - NDCG@10: 0.0784
User 40111 - NDCG@10: 0.1460
User 31523 - NDCG@10: 0.2318
User 31411 - NDCG@10: 0.1303
User 5481 - NDCG@10: 0.3920
User 4357 - NDCG@10: 0.1635
User 28955 - NDCG@10: 0.3839
User 30020 - NDCG@10: 0.1460
User 49794 - NDCG@10: 0.3613
User 45036 - NDCG@10: 0.0000
User 40188 - NDCG@10: 0.2300
User 33228 - NDCG@10: 0.1013
User 19332 - NDCG@10: 0.1363
User 35051 - NDCG@10: 0.1051
User 21961 - NDCG@10: 0.1717
User 9705 - NDCG@10: 0.1178
User 4929 - NDCG@10: 0.1678
User 9124 - NDCG@10: 0.2498
User 9544 - NDCG@10: 0.1831
User 24151 - NDCG@10: 0.1343
User 13859 - NDCG@10: 0.0813
User 27127 - NDCG@10: 0.3423
User 7195 - NDCG@10: 0.0738
User 39923 - NDCG@10: 0.1736
User 43051 - NDCG@10: 0.2000
User 21566 - NDCG@10: 0.4287
User 13793 - NDCG@10: 0.3104
User 6646 - NDCG@10: 0.1596
User 7452 - NDCG@10: 0.4167
User 17567 - NDCG@10: 0.4559
User 52874 - NDCG@10: 0.3885
User 38555 - NDCG@10: 0.0791
User 535 - NDCG@10: 0.0904
User 23106 - NDCG@10: 0.1250
User 22182 - NDCG@10: 0.0000
User 10478 - NDCG@10: 0.4311
User 33027 - NDCG@10: 0.4114
User 22827 - NDCG@10: 0.3519
User 52753 - NDCG@10: 0.0789
User 27622 - NDCG@10: 0.2104
User 44411 - NDCG@10: 0.3591
User 43456 - NDCG@10: 0.6826
User 22731 - NDCG@10: 0.0853
User 2928 - NDCG@10: 0.0000
User 44105 - NDCG@10: 0.2873
User 18689 - NDCG@10: 0.1983
User 20242 - NDCG@10: 0.0926
User 27590 - NDCG@10: 0.0831
User 28860 - NDCG@10: 0.1492
User 42075 - NDCG@10: 0.2961
User 20263 - NDCG@10: 0.0770
User 52262 - NDCG@10: 0.1225
User 28794 - NDCG@10: 0.2607
User 14957 - NDCG@10: 0.1162
User 45274 - NDCG@10: 0.1417
User 33551 - NDCG@10: 0.2031
User 17855 - NDCG@10: 0.3903
User 25350 - NDCG@10: 0.0763
User 15580 - NDCG@10: 0.2144
User 35798 - NDCG@10: 0.0914
User 50434 - NDCG@10: 0.1194
User 45755 - NDCG@10: 0.2233
User 50097 - NDCG@10: 0.1056
User 35504 - NDCG@10: 0.3554
User 21234 - NDCG@10: 0.0389
User 52842 - NDCG@10: 0.2022
User 12168 - NDCG@10: 0.2561
User 11076 - NDCG@10: 0.2700
User 38921 - NDCG@10: 0.0741
User 577 - NDCG@10: 0.0000
User 49260 - NDCG@10: 0.2164
User 33114 - NDCG@10: 0.2513
User 47342 - NDCG@10: 0.0000
User 3240 - NDCG@10: 0.0734
User 46892 - NDCG@10: 0.1175
User 46993 - NDCG@10: 0.1268
User 15744 - NDCG@10: 0.0518
User 11348 - NDCG@10: 0.0757
User 5440 - NDCG@10: 0.1965
User 31303 - NDCG@10: 0.0458
User 45184 - NDCG@10: 0.0626
User 28966 - NDCG@10: 0.1132
User 9311 - NDCG@10: 0.1240
User 2203 - NDCG@10: 0.1706
User 41985 - NDCG@10: 0.0000
User 45725 - NDCG@10: 0.0000
User 49706 - NDCG@10: 0.1725
User 41474 - NDCG@10: 0.1818
User 9422 - NDCG@10: 0.3888
User 51228 - NDCG@10: 0.1673
User 44744 - NDCG@10: 0.0942
User 39380 - NDCG@10: 0.1110
User 42276 - NDCG@10: 0.2045

In [67]:
import pandas as pd
import numpy as np

# Copia del DataFrame originale per non modificarlo direttamente
candidate_items_fixed = candidate_items.copy()

# Lista utenti senza hit
users_with_zero_hits = []

for user_id in test_recommendations['user_id'].unique():
    rec = candidate_items_fixed[candidate_items_fixed['user_id'] == user_id]
    real_rec = test_recommendations[test_recommendations['user_id'] == user_id]
    
    relevance_scores = rec['app_id'].isin(real_rec['app_id']).astype(int).values
    hits = relevance_scores.sum()
    
    if hits == 0:
        users_with_zero_hits.append(user_id)

print(f"Utenti senza hit: {len(users_with_zero_hits)}")

# Correggi i candidate_items per questi utenti
for user_id in users_with_zero_hits:
    # Candidati attuali
    user_candidates = candidate_items_fixed[candidate_items_fixed['user_id'] == user_id]
    
    if user_candidates.empty:
        continue  # salta se non ci sono candidati (caso limite)

    # Un elemento da rimuovere a caso
    random_candidate_index = np.random.choice(user_candidates.index)
    candidate_items_fixed.drop(index=random_candidate_index, inplace=True)
    
    # Prendi un elemento vero dal test set di quell'utente
    user_test_items = test_recommendations[test_recommendations['user_id'] == user_id]
    user_test_sample = user_test_items.sample(n=1, random_state=42)
    
    # Aggiungilo ai candidate_items_fixed
    candidate_items_fixed = pd.concat([candidate_items_fixed, user_test_sample], ignore_index=True)

print(f"✅ Candidati corretti: ora tutti gli utenti hanno almeno un hit garantito.")
users_with_zero_hits=[]
for user_id in test_recommendations['user_id'].unique():
    rec = candidate_items_fixed[candidate_items_fixed['user_id'] == user_id]
    real_rec = test_recommendations[test_recommendations['user_id'] == user_id]
    
    relevance_scores = rec['app_id'].isin(real_rec['app_id']).astype(int).values
    hits = relevance_scores.sum()
    
    if hits == 0:
        users_with_zero_hits.append(user_id)

print(f"Utenti senza hit: {len(users_with_zero_hits)}")
candidate_items_fixed.to_csv(datapath + "candidate_items_70_hits.csv", index=False)

Utenti senza hit: 63
✅ Candidati corretti: ora tutti gli utenti hanno almeno un hit garantito.
Utenti senza hit: 0

In [51]:
candidate_items_fixed.to_csv(datapath + "candidate_items_20_hits.csv", index=False)

In [22]:
import pandas as pd
datapath = "tuning/"
candidate_items = pd.read_csv(datapath + "candidate_items_30_hits.csv")
movies_with_desc = pd.read_csv(datapath + "movies_with_desc.csv")
candidate_items.columns, movies_with_desc.columns

(Index(['user_id', 'app_id', 'title', 'genres', 'new_title', 'year',
        'titolo_match', 'plot', 'imdbId', 'tmdbId'],
       dtype='object'),
 Index(['app_id', 'title', 'tmdbId', 'imdbId', 'desc', 'genres'], dtype='object'))

In [23]:
merged = candidate_items.merge(
    movies_with_desc[['app_id', 'desc']], 
    on='app_id', 
    how='left'
)

print(merged.head())

   user_id  app_id                  title                        genres  \
0        1     364  Lion King, The (1994)  Animation|Children's|Musical
1       21     364  Lion King, The (1994)  Animation|Children's|Musical
2       49     364  Lion King, The (1994)  Animation|Children's|Musical
3       93     364  Lion King, The (1994)  Animation|Children's|Musical
4      114     364  Lion King, The (1994)  Animation|Children's|Musical

        new_title  year    titolo_match  \
0  Lion King, The  1994  Lion King, The
1  Lion King, The  1994  Lion King, The
2  Lion King, The  1994  Lion King, The
3  Lion King, The  1994  Lion King, The
4  Lion King, The  1994  Lion King, The

                                                plot    imdbId  tmdbId  \
0  Young lion prince Simba, eager to one day beco...  110357.0  8587.0
1  Young lion prince Simba, eager to one day beco...  110357.0  8587.0
2  Young lion prince Simba, eager to one day beco...  110357.0  8587.0
3  Young lion prince Simba, eager to one day beco...  110357.0  8587.0
4  Young lion prince Simba, eager to one day beco...  110357.0  8587.0

                                                desc
0  Young lion prince Simba, eager to one day beco...
1  Young lion prince Simba, eager to one day beco...
2  Young lion prince Simba, eager to one day beco...
3  Young lion prince Simba, eager to one day beco...
4  Young lion prince Simba, eager to one day beco...

In [24]:
merged.to_csv(datapath + "candidate_items_30_hits.csv", index=False)

In [25]:
candidate_items_30_hits = pd.read_csv(datapath + "candidate_items_30_hits.csv")
candidate_items_30_hits.head()

,user_id,app_id,title,genres,new_title,year,titolo_match,plot,imdbId,tmdbId,desc
0,1,364,"Lion King, The (1994)",Animation|Children's|Musical,"Lion King, The",1994,"Lion King, The","Young lion prince Simba, eager to one day beco...",110357.0,8587.0,"Young lion prince Simba, eager to one day beco..."
1,21,364,"Lion King, The (1994)",Animation|Children's|Musical,"Lion King, The",1994,"Lion King, The","Young lion prince Simba, eager to one day beco...",110357.0,8587.0,"Young lion prince Simba, eager to one day beco..."
2,49,364,"Lion King, The (1994)",Animation|Children's|Musical,"Lion King, The",1994,"Lion King, The","Young lion prince Simba, eager to one day beco...",110357.0,8587.0,"Young lion prince Simba, eager to one day beco..."
3,93,364,"Lion King, The (1994)",Animation|Children's|Musical,"Lion King, The",1994,"Lion King, The","Young lion prince Simba, eager to one day beco...",110357.0,8587.0,"Young lion prince Simba, eager to one day beco..."
4,114,364,"Lion King, The (1994)",Animation|Children's|Musical,"Lion King, The",1994,"Lion King, The","Young lion prince Simba, eager to one day beco...",110357.0,8587.0,"Young lion prince Simba, eager to one day beco..."

In [14]:
import pandas as pd
datapath = "tuning/"
candidate_items_path = datapath + "candidate/candidate_items_30_hits.csv"
candidate_items = pd.read_csv(candidate_items_path)
app_plots = pd.read_csv(datapath + "apps_fixed2.csv")
candidate_items.drop(columns=['new_title'], inplace=True)
candidate_items = candidate_items.merge(app_plots[['app_id', 'new_title']], on='app_id', how='left')
candidate_items.to_csv(candidate_items_path, index=False)

In [ ]:
# add the column new_title from app_plots to candidate_items
candidate_items = candidate_items.merge(app_plots[['app_id', 'new_title']], on='app_id', how='left')
candidate_items.to_csv(datapath + "candidate/candidate_items_10_hits.csv", index=False)

,user_id,app_id,authors,average_rating,books_count,plot,genres,year,pages,ratings_count,authors_2,new_title
0,167,178,['Sylvia Plath'],3.98,246,The Bell Jar chronicles the crack-up of Esther...,"['classics', 'fiction', 'psychology', 'poetry']",1963.0,294.0,401605,['Sylvia Plath'],The Bell Jar
1,8707,178,['Sylvia Plath'],3.98,246,The Bell Jar chronicles the crack-up of Esther...,"['classics', 'fiction', 'psychology', 'poetry']",1963.0,294.0,401605,['Sylvia Plath'],The Bell Jar
2,9661,178,['Sylvia Plath'],3.98,246,The Bell Jar chronicles the crack-up of Esther...,"['classics', 'fiction', 'psychology', 'poetry']",1963.0,294.0,401605,['Sylvia Plath'],The Bell Jar
3,12285,178,['Sylvia Plath'],3.98,246,The Bell Jar chronicles the crack-up of Esther...,"['classics', 'fiction', 'psychology', 'poetry']",1963.0,294.0,401605,['Sylvia Plath'],The Bell Jar
4,14950,178,['Sylvia Plath'],3.98,246,The Bell Jar chronicles the crack-up of Esther...,"['classics', 'fiction', 'psychology', 'poetry']",1963.0,294.0,401605,['Sylvia Plath'],The Bell Jar
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,51329,361,"['Charles Dickens', 'George Cruikshank', 'Phil...",3.85,1787,A gripping portrayal of London's dark criminal...,"['classics', 'fiction', 'historical-fiction']",1838.0,608.0,230181,"['Charles Dickens', 'George Cruikshank', 'Phil...",Oliver Twist
9996,39400,280,['Lauren Oliver'],3.99,108,There is an alternate cover edition for this I...,"['young-adult', 'romance', 'science-fiction', ...",2011.0,441.0,256975,['Lauren Oliver'],"Delirium (Delirium, #1)"
9997,28258,9718,['[Chris Cleave]'],3.48,25,When a massive suicide bomb explodes at a Lond...,"['fiction', 'contemporary', 'thriller']",2012.0,239.0,6058,['[Chris Cleave]'],"Happier at Home: Kiss More, Jump More, Abandon..."
9998,27762,2243,['[A.J. Banner]'],3.33,14,From a phenomenal new voice in suspense fictio...,"['fiction', 'mystery', 'thriller', 'suspense',...",2015.0,NaN,37604,['[A.J. Banner]'],The Good Neighbor
9999,45900,606,"['Richard Bach', 'Russell Munson']",3.80,278,This is a story for people who follow their he...,"['fiction', 'classics', 'philosophy', 'fantasy...",1970.0,112.0,133728,"['Richard Bach', 'Russell Munson']",Jonathan Livingston Seagull

In [21]:
# verifica quanti titoli in candidate_items sono NaN
no_title = candidate_items.loc[ candidate_items['new_title'].isna(), 'app_id' ]
no_title = set( no_title )
len( no_title )

0