In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd
ratings = pd.read_csv('ratings.csv')

In [13]:
import pickle
import numpy as np
from pathlib import Path
user_histories_path = Path('item_embeddings_mxbai_MATRIX_USER.pkl')
with open(user_histories_path, 'rb') as f:
    user_histories_dict = pickle.load(f)
user_histories_dict.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610])

In [34]:
user_histories_dict[2][0]

array([ 0.44590214, -0.4160801 ,  0.418914  , ...,  0.04300147,
       -0.20246144,  0.05093052], dtype=float32)

In [17]:
train_recommendations = pd.read_csv('train_recommendations.csv')
item_embeddings = np.load('item_embeddings_mxbai.npz')

In [52]:
user189=train_recommendations[train_recommendations['user_id']==189]

In [50]:
id=train_recommendations.groupby('user_id').size()
# ID dell’utente con meno interazioni
id_min = id.idxmin()

# Numero di interazioni di quell’utente (opzionale, ma utile per verificarlo)
n_min = id.loc[id_min]

print(f"L'utente con meno interazioni è {id_min} (totale interazioni: {n_min})")

L'utente con meno interazioni è 189 (totale interazioni: 13)

In [56]:
for item in user189['app_id']:
    print(item)

33794
91529
48516
356
5952
58559
68954
2571
527
2959
4993
1265
76093

In [63]:
item_embeddings['item_id'][4000]

'5644'

In [70]:
item_embeddings['item_id']

array(['1', '2', '3', ..., '193585', '193587', '193609'], dtype='<U6')

In [80]:
for embedding in user_histories_dict[189]:
    print(embedding)

[ 0.26766276 -0.45542067  0.39248234 ... -0.10546523 -0.04645282
  0.36024007]
[ 0.07458868 -0.069779    0.10528068 ... -0.37448877 -0.28503156
 -0.0583121 ]
[ 0.5093793  -0.49661088 -0.39532697 ... -0.29504013 -0.57493436
  0.33169317]
[ 0.89859676 -0.4278602   0.27982643 ... -0.11252339 -0.01022069
  0.03397891]
[-0.0624265  -0.76600057  0.08691105 ... -0.8247484  -0.42424303
  0.1389752 ]
[ 0.32089737 -0.04868587  0.28741598 ... -0.21841784 -0.68377876
  0.14231806]
[ 0.6861997  -0.08029675  0.12038855 ... -0.23224321  0.07914537
 -0.19328117]
[ 0.17082432 -0.45249525 -0.1014679  ... -0.05797391 -0.08208055
  0.20108743]
[ 0.4596474  -0.5356707   0.09552311 ... -0.0974237  -0.28293797
  0.4113273 ]
[ 0.315041   -0.6635232   0.55964154 ...  0.09732856  0.06343631
 -0.6615091 ]
[-0.06413118 -0.44555297  0.34632686 ... -0.8814714   0.09899006
 -0.0951758 ]
[ 0.9723775  -0.14070863  0.22286451 ... -0.2886465  -0.07975807
 -0.18154514]
[ 0.8202483   0.73054194  0.69437027 ...  0.06693608 -0.11194748
 -0.35207307]

In [72]:
for i in range(len(item_embeddings['item_id'])):
    for item in user189['app_id']:
        if item_embeddings['item_id'][i] == str(item):
            print(item_embeddings['item_id'][i], item_embeddings['embeddings'][i])
            break

356 [ 0.89859676 -0.4278602   0.27982643 ... -0.11252339 -0.01022069
  0.03397891]
527 [ 0.4596474  -0.5356707   0.09552311 ... -0.0974237  -0.28293797
  0.4113273 ]
1265 [ 0.9723775  -0.14070863  0.22286451 ... -0.2886465  -0.07975807
 -0.18154514]
2571 [ 0.17082432 -0.45249525 -0.1014679  ... -0.05797391 -0.08208055
  0.20108743]
2959 [ 0.315041   -0.6635232   0.55964154 ...  0.09732856  0.06343631
 -0.6615091 ]
4993 [-0.06413118 -0.44555297  0.34632686 ... -0.8814714   0.09899006
 -0.0951758 ]
5952 [-0.0624265  -0.76600057  0.08691105 ... -0.8247484  -0.42424303
  0.1389752 ]
33794 [ 0.26766276 -0.45542067  0.39248234 ... -0.10546523 -0.04645282
  0.36024007]
48516 [ 0.5093793  -0.49661088 -0.39532697 ... -0.29504013 -0.57493436
  0.33169317]
58559 [ 0.32089737 -0.04868587  0.28741598 ... -0.21841784 -0.68377876
  0.14231806]
68954 [ 0.6861997  -0.08029675  0.12038855 ... -0.23224321  0.07914537
 -0.19328117]
76093 [ 0.8202483   0.73054194  0.69437027 ...  0.06693608 -0.11194748
 -0.35207307]
91529 [ 0.07458868 -0.069779    0.10528068 ... -0.37448877 -0.28503156
 -0.0583121 ]

In [6]:
movies_plots_final = pd.read_csv('movies_plots_final.csv')
movies_plots_final.rename(columns={'movieId': 'item_id'}, inplace=True)
movies_plots_final

,item_id,title,genres,new_title,year,titolo_match,plot,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story,1995.0,Toy Story,In a world where toys are living things who pr...,114709,862.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji,1995.0,Jumanji,"In 1869, near Brantford, New Hampshire, two br...",113497,8844.0
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men,1995.0,Grumpier Old Men,The feud between Max (Walter Matthau) and John...,113228,15602.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale,1995.0,Waiting to Exhale,"""Friends are the People who let you be yoursel...",114885,31357.0
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II,1995.0,Father of the Bride Part II,The film begins five years after the events of...,113041,11862.0
...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,Black Butler: Book of the Atlantic,2017.0,Black Butler: Book of the Atlantic,"Ciel, Sebastian and Snake board the luxury lin...",5476944,432131.0
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,No Game No Life: Zero,2017.0,No Game No Life: Zero,Six thousand years before Sora and Shiro were ...,5914996,445030.0
9739,193585,Flint (2017),Drama,Flint,2017.0,Flint,A woman deals with the toxic water scandal in ...,6397426,479308.0
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,Bungo Stray Dogs: Dead Apple,2018.0,Bungo Stray Dogs: Dead Apple,A large scale catastrophe is occurring across ...,8391976,483455.0
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,Andrew Dice Clay: Dice Rules,1991.0,Andrew Dice Clay: Dice Rules,"Outrageous, misogynistic and vulgar-to-the-max...",101726,37891.0

In [7]:
movies_plots_final.to_csv('item_plots_final.csv', index=False)

In [8]:
ratings.rename(columns={'userId': 'user_id', 'movieId': 'item_id'}, inplace=True)
ratings

        user_id  item_id  rating   timestamp
0             1        1     4.0   964982703
1             1        3     4.0   964981247
2             1        6     4.0   964982224
3             1       47     5.0   964983815
4             1       50     5.0   964982931
...         ...      ...     ...         ...
100831      610   166534     4.0  1493848402
100832      610   168248     5.0  1493850091
100833      610   168250     5.0  1494273047
100834      610   168252     5.0  1493846352
100835      610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
ratings = pd.read_csv('recommendations.csv')

In [5]:
train_recommendations, test_recommendations = train_test_split(ratings, test_size=0.1, random_state=42)

In [7]:
len(train_recommendations), len(test_recommendations), len(ratings)

(900188, 100021, 1000209)

In [11]:
len(train_recommendations['user_id'].unique()), len(test_recommendations['user_id'].unique()), len(ratings['user_id'].unique())

(610, 610, 610)

In [12]:
len(train_recommendations['item_id'].unique()), len(test_recommendations['item_id'].unique()), len(ratings['item_id'].unique())

(8983, 5142, 9724)

In [8]:
ratings.to_csv('final/ratings.csv', index=False)
train_recommendations.to_csv('final/train_recommendations.csv', index=False)
test_recommendations.to_csv('final/test_recommendations.csv', index=False)

In [9]:
recommendation = train_recommendations

In [11]:
train_recommendations, test_recommendations = train_test_split(recommendation, test_size=0.12, random_state=42)
len(train_recommendations), len(test_recommendations), len(recommendation)

(792165, 108023, 900188)

In [13]:
recommendation.to_csv('tuning/recommendations.csv', index=False)
train_recommendations.to_csv('tuning/train_recommendations.csv', index=False)
test_recommendations.to_csv('tuning/test_recommendations.csv', index=False)

In [15]:
item_plots_final = pd.read_csv('item_plots_final.csv')
item_plots_final.rename(columns={'item_id': 'app_id'}, inplace=True)
item_plots_final.to_csv('app_plots_final.csv', index=False)

In [18]:
ratings= pd.read_csv('ratings.csv')
ratings.rename(columns={'userId': 'user_id', 'movieId': 'app_id'}, inplace=True)
ratings.to_csv('recommendations.csv', index=False)

In [19]:
train_recommendations = pd.read_csv('train_recommendations.csv')
test_recommendations = pd.read_csv('test_recommendations.csv')
train_recommendations.rename(columns={'item_id': 'app_id'}, inplace=True)
test_recommendations.rename(columns={'item_id': 'app_id'}, inplace=True)
train_recommendations

       user_id  app_id  rating   timestamp
0          509    7347     3.0  1435994597
1          326   71462     4.0  1322252335
2           57    2115     3.0   965798155
3          610    1127     4.0  1479544102
4          462    2409     2.0  1174438249
...        ...     ...     ...         ...
80663       42    4005     4.0   996259059
80664      364     141     4.0   869443367
80665      480    6867     4.0  1179163171
80666        6     981     3.0   845556567
80667      103    6711     5.0  1431957425

[80668 rows x 4 columns]

In [21]:
train_recommendations.to_csv('train_recommendations.csv', index=False)
test_recommendations.to_csv('test_recommendations.csv', index=False)

In [1]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
ratings

         user_id  book_id  rating
0              1      258       5
1              2     4081       4
2              2      260       5
3              2     9296       5
4              2     2318       3
...          ...      ...     ...
5976474    49925      510       5
5976475    49925      528       4
5976476    49925      722       4
5976477    49925      949       5
5976478    49925     1023       4

[5976479 rows x 3 columns]

In [2]:
ratings.rename(columns={'book_id': 'app_id'}, inplace=True)

In [3]:
import numpy as np
users = ratings['user_id'].unique().tolist()
sampled_users = np.random.choice(users, size=1000, replace=False)
sampled_ratings = ratings[ratings['user_id'].isin(sampled_users)]
sampled_ratings

         user_id  app_id  rating
2856         167    1877       4
2857         167     691       4
2858         167    9998       3
2859         167    8687       4
2860         167    3109       4
...          ...     ...     ...
5976322     1670    3371       5
5976332    23863    2062       3
5976339    26345    2462       4
5976464    23863    2332       1
5976472    23863    8020       4

[112368 rows x 3 columns]

In [4]:
#mostra qualche metrica del tipo numero massimo di interazioni per utente, numero minimo, media, mediana
ratings.groupby('user_id').size().describe(),ratings.groupby('app_id').size().describe()

(count    53424.000000
 mean       111.868804
 std         26.071224
 min         19.000000
 25%         96.000000
 50%        111.000000
 75%        128.000000
 max        200.000000
 dtype: float64,
 count    10000.000000
 mean       597.647900
 std       1267.289788
 min          8.000000
 25%        155.000000
 50%        248.000000
 75%        503.000000
 max      22806.000000
 dtype: float64)

In [5]:
sampled_ratings.groupby('user_id').size().describe(),sampled_ratings.groupby('app_id').size().describe()

(count    1000.00000
 mean      112.36800
 std        26.25719
 min        24.00000
 25%        97.00000
 50%       112.00000
 75%       129.00000
 max       190.00000
 dtype: float64,
 count    9622.000000
 mean       11.678237
 std        24.475638
 min         1.000000
 25%         3.000000
 50%         5.000000
 75%        10.000000
 max       436.000000
 dtype: float64)

In [6]:
#calcola e confronta la sparsita del dataset originale e del sottoinsieme
len(ratings) / (ratings['user_id'].nunique() * ratings['app_id'].nunique()), len(sampled_ratings) / (sampled_ratings['user_id'].nunique() * sampled_ratings['app_id'].nunique())

(0.011186880428271938, 0.01167823737268759)

In [7]:
sampled_ratings.to_csv('recommendations_1000users.csv', index=False)

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
train_recommendations, test_recommendations = train_test_split(sampled_ratings, test_size=0.1, random_state=42)

In [12]:
sampled_ratings.to_csv('final/ratings.csv', index=False)
train_recommendations.to_csv('final/train_recommendations.csv', index=False)
test_recommendations.to_csv('final/test_recommendations.csv', index=False)

In [13]:
recommendation = train_recommendations

In [14]:
train_recommendations, test_recommendations = train_test_split(recommendation, test_size=0.12, random_state=42)

In [15]:
recommendation.to_csv('tuning/recommendations.csv', index=False)
train_recommendations.to_csv('tuning/train_recommendations.csv', index=False)
test_recommendations.to_csv('tuning/test_recommendations.csv', index=False)